@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
html{
	max-width:1200px;
	margin:0 auto;
}
body {
background-color:cyan;
font-size:1em;

}
a {
	text-decoration:none;
	color:#64766A;
}
div#wrapper{
	width:80%;
	background-color:#EEF2DC;
	margin:auto;
}

div#main-content{
	width:97.916667%;
	background-color:#B9D59D;
	margin:auto;

}

div#header{
	width:100%;
	height:160px;
	background-color:#EEF2DC;
	margin:0px;
	font-family:Candara;

	text-align:center;
	line-height:160px;
	vertical-align:middle;


}
div#header h1 {
width:100%;
font-size:40pt;
font-weight:normal;
color:#2B621D;
text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}

div#header img {
	float:left;
}


/*Begin Nav*/
/*
nav{
	width:100%;
	height:40px;
	background-color:black;
	margin:auto;

}
*/

nav {


	background-color:#2B621D;
	height:40px;
	width:100%;
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul
{

  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-block;
}

nav > li > ul.sub-nav
{
	min-width: 10em;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
}

.sub-nav li p
{
padding-top:10px;

}
nav ul li
{
height:100%;
}

nav > ul > li
{
	display: inline-block;
}

nav ul li a
{
	display: block;
	text-decoration: none;
	color: #EEF2DC;
	font-size: 1em;
}

nav ul li:hover {

	height:40px;
}
nav ul li a:hover
{
	background-color:#EEF2DC;
	color:#2B621D;
	height:40px;

}
nav ul li > a
{

padding-right:40px;
}

nav ul li > a:first-child
{
	padding-left:10px;

}
nav ul ul
{
  display: none;
  position: absolute;
  top:100%;
  min-width: 140px;
  background-color:rgba(43,98,29,0.8);

}
nav ul ul li
{


}

nav ul ul li a p
{


}
nav ul li:hover > ul
{
	display: block;
}

nav ul ul > li
{
	position: relative;
}

nav ul ul > li a
{
	height: 40px;

}

nav ul ul > li a:hover
{
	background-color:#EEF2DC;
	color:#2B621D;
	height:40px;

}

p.top-level-nav {
	padding-top:10px;
}
/*End Nav*/



div#welcome{
	width:31.06383%;
	height:392px;
	margin-top:20px;
	float:left;
	background-color:#EEF2DC;
	font-family:Arial;

	border-style:solid;
	border-width:4px;
	border-color:#2B621D;
	overflow:hidden;

}

div#welcome p
{
padding: 0 5px 5px 5px;
font-size:1.1em;

}
div#welcome p::first-letter
{
	font-size:1.3em;
	font-weight:bold;


}
div#flexslider{
	width:65.957446%;
	height:400px;
	background-color:#B9D59D;
	margin-top:20px;
	margin-bottom:20px;
	float:right;
}
img.flexslider
{
	width:100%;

}

/* Begin horizontal button list */

#button-container1
{

background: #2B621DC;
background-color:#B9D59D;
text-transform: uppercase;
width:100%;
height:100px;
clear:both;
}


#button-container1:after
{
content: ".";
display: block;
line-height: 1px;
font-size: 1px;
clear: both;
}

ul#button-list1
{
list-style: none;
padding-right: 2.127659%;
width:100%;
}

ul#button-list1 li
{
display: block;
float: left;
width: 31.914893%;
}

ul#button-list1 li a
{
display: block;
width: 100%;
height:100px;
box-shadow: 4px 4px 2px #d3d3d3;
border-radius:30px;
color:#EEF2DC;
font-weight:bold;
text-decoration: none;
background-color: #2B621D;
box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
}

#button-one, #button-two
{
padding-right: 2.127659%;
}

#button-one p, #button-two p, #button-three p
{
	text-align:center;
	padding-top:40px;
}

#button-container1>ul#button-list1 li a { width: auto; }

ul#button-list1
{
background: #f0e7d7;
color: #800000;
}

ul#button-list1 li a:hover
{
color:#2B621D;
background-color:#EEF2DC;
border-color: #aaab9c #fff #fff #ccc;
}

/*End horizontal buttons*/

/*Begin vertical buttons*/

#button-container2
{

width: 31.914893%;
height:340px;
background-color:#2B621DC;
background-color:#B9D59D;
width: 31.914893%;
height:340px;
margin-top:20px;
float:left;
text-transform: uppercase;
}

ul#button-list2
{

list-style: none;
width: 100%;

}

ul#button-list2 li
{
display: block;



}

ul#button-list2 li a
{
display: block;
width: 100%;
height:100px;
border-radius:30px;
color:#EEF2DC;
text-decoration: none;
background-color:#2B621D;
font-weight:bold;
box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
}

#button-four, #button-five {

	margin-bottom:20px;
}
#button-four p, #button-five p
{
	text-align:center;
	padding-top:40px;
}

#button-container2>ul#button-list2 li a { width: auto; }

ul#button-list2 li#active a
{
background: #f0e7d7;
color: #800000;
}

ul#button-list2 li a:hover, ul#button-list2 li#active a:hover
{
color: #2B621D;
background-color:#EEF2DC;
border-color: #aaab9c #fff #fff #ccc;
}

#social-networking
{
	width:100%;
	height:100px;
	background-color:blue;

}

#find-us, #facebook, #twitter
{
	width:33.33333%;
	height:100%;
	float:left;
	background-color:#B9D59D;
}

#find-us
{



}
#find-us p
{
padding-top:46px;
padding-left:5%;
font-size:1.2em;



}
#facebook
{



}

#twitter
{



}
.social-networking
{
width:90%;
padding-left:10%;
padding-top:10px;


}
/*End vertical buttons*/


div#testimonials{
	width:65.957446%;
	height:340px;
	background-color:#EEF2DC;
	margin-top:20px;
	margin-bottom:20px;
	float:right;	position:relative;
}
div#testimonials span {
	width:100%;
	text-align:center;
	display:block;
	margin-bottom:10px;
	font-size:24px;
	margin-top:20px;
	font-family:Arial;
	font-style:normal;
}
div#testimonials a {
	text-decoration:none;
	background-color:#2B621D;
	color:#EEF2DC;
	width:120px;
	text-align:center;
	position:absolute;
	right:0px;
	bottom:20px;
}
div#testimonials img {
	float:left;
	margin-left:10px;
	margin-right:10px;
	width:200px;
	height::100px;
}
div#testimonials p {
	text-align:justify;
	margin-left:10px;
}

div#ads{
	width:100%;
	height:160px;
	background-color:grey;
	clear:both;
}
footer{
	width:100%;
	height:160px;
	background-color:#FFFEF9;
	margin-top:20px;
	clear:both;
	display:table;
	margin-bottom:20px;


}
footer div {
	width:33%;
	vertical-align:middle;
	display:table-cell;
}
footer span {
	width:100%;
	display:block;
	color:#64766A;
}
footer a {
	text-align:center;
	width:100%;
	display:block;
}
footer span.logo {
	color:#2B621D;
	font-size:18pt;
	font-family:Candara;
}




.readmore {
	clear:both;
	float: right;
}

/*styles for pages.html */

#pagecontent {
	width:74.468085%;
	float:left;
	overflow:hidden;
	padding:5px;
	background-color: #ddd58e;
}

#primarypagesidebar {
	width:23.404255%;
	float:right;
	overflow:hidden;
	padding:5px;
}

#pagecontent h3 {
	border-bottom: 3px double #769a0f;
	margin-bottom:1em;
	text-align: center;
}

#pagecontent p {

}

#pagecontent #pagemaincontent {
	width:100%;
	overflow:hidden;
	padding:5px;
}

#pagecontent #pagemaincontent .pagecontentsection {
	width:97.916667%;
	float: left;
	overflow:hidden;
	padding:5px;
}

#pagecontent #pagemaincontent .pagecontentsection h4{
	 color: #769a0f;
}

#pagecontent #pagemaincontent .pagecontentsection div {
	 overflow:hidden;


	 padding:5px;
}
