@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
html{
	max-width:1200px;
	margin:0 auto;
}
body {
background-color:cyan;
font-size:1em;

}
a {
	text-decoration:none;
	color:#64766A;
}
div#wrapper{
	width:80%;
	background-color:#EEF2DC;
	margin:auto;
}

div#main-content{
	width:97.916667%;
	background-color:#ccc;
	margin:auto; 
	
}

div#header{
	width:100%;
	height:160px;
	background-color:#EEF2DC;
	margin:0px;
	font-family:Candara;
	
	text-align:center;
	line-height:160px;
	vertical-align:middle;
	
	
}
div#header h1 {
width:100%;
font-size:40pt;
font-weight:normal;
color:#2B621D;
text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}


nav{
	width:100%;
	height:40px;
	background-color:black;
	margin:auto;

}

div#welcome{
	width:31.914893%;
	height:400px;
	background-color:#FFFEF9;
	margin-top:20px;
	float:left;
	
}
div#flexslider{
	width:65.957446%;
	height:400px;
	background-color:blue;
	margin-top:20px;
	margin-bottom:20px;
	float:right;
}
div#buttons1{
	width:100%;
	height:100px;
	background-color:green;
	margin-top:20px;
	clear:both;
}
div#buttons2{
	width:31.914893%;
	height:340px;
	background-color:yellow;
	margin-top:20px;
	float:left;
}
div#testimonials{
	width:65.957446%;
	height:340px;
	background-color:purple;
	margin-top:20px;
	margin-bottom:20px;
	float:right;
}
div#ads{
	width:100%;
	height:160px;
	background-color:grey;
	clear:both;
}
footer{
	width:100%;
	height:160px;
	background-color:#FFFEF9;
	margin-top:20px;
	clear:both;
	display:table;
	margin-bottom:20px;
	

}
footer div {
	width:33%;
	vertical-align:middle;
	display:table-cell;
}
footer span {
	width:100%;
	display:block;
	color:#64766A;
}
footer a {
	text-align:center;
	width:100%;
	display:block;
}
footer span.logo {
	color:#2B621D;
	font-size:18pt;
	font-family:Candara;
}



.readmore {
	clear:both;
	float: right;
}

/*styles for pages desktop*/

#pagecontent {
	width:74.468085%; 
	float:left;
	overflow:hidden;
	padding:5px; 
	background-color: #ddd58e;
}

#primarypagesidebar {
	width:23.404255%; 
	float:right;
	overflow:hidden;
	padding:5px; 
}

#pagecontent h3 {
	border-bottom: 3px double #769a0f;
	margin-bottom:1em;
	text-align: center;
}

#pagecontent p {
	
}

#pagecontent #pagemaincontent {
	width:100%;
	overflow:hidden;
	padding:5px; 
}

#pagecontent #pagemaincontent .pagecontentsection {
	width:97.916667%;
	float: left;
	overflow:hidden;
	padding:5px; 
}

#pagecontent #pagemaincontent .pagecontentsection h4{
	 color: #769a0f;
}

#pagecontent #pagemaincontent .pagecontentsection div {
	 overflow:hidden;
	 padding:5px; 
}